.convert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .convert-from {
    display: flex;
    flex-direction: column;


  }

  .convert-to {
    display: flex;
    flex-direction: column;
  }
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  .error {
    color: red;
    min-height: 25px;
  }
}
